
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'iranYekan';
        src: url('font/Yekan\ Bakh\ EN\ 05\ Medium.woff') format('woff');
    }
}

@font-face {
    font-family: 'medium';
    src: url('./font/Yekan\ Bakh\ EN\ 05\ Medium.woff') format('woff');
}

body {
    font-family: YekanBakh !important;
}

.btn {
    @apply bg-primaryOrange text-white flex justify-center items-center h-10 rounded-xl transition-all duration-300 hover:bg-hoverPrimaryOrange
}

.swiper-paginationPersons .swiper-pagination-bullet-active {
    width: 25px;
}


.swiper-paginationPersons span { 
    background-color: #7d7878;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.navMain {
    @apply top-5 w-[95%] rounded-2xl m-auto
}

#nosaz:checked + label:after {
    background: #E16428;
}
#nosaz + label:before {
    right: 0;
}

#nosaz:checked + label:before {
    right: 0;
    z-index: 10;
}

#flat:checked + label:after {
    background: #E16428;
}
#flat + label:before {
    right: 0;
}

#flat:checked + label:before {
    right: 0;
    z-index: 10;
}

#nimPlot:checked + label:after {
    background: #E16428;
}
#nimPlot + label:before {
    right: 0;
}

#nimPlot:checked + label:before {
    right: 0;
    z-index: 10;
}

#doblex:checked + label:after {
    background: #E16428;
}
#doblex + label:before {
    right: 0;
}

#doblex:checked + label:before {
    right: 0;
    z-index: 10;
}

#threeblex:checked + label:after {
    background: #E16428;
}
#threeblex + label:before {
    right: 0;
}
#threeblex:checked + label:before {
    right: 0;
    z-index: 10;
}

#aparteman:checked + label:after {
    background: #E16428;
}
#aparteman + label:before {
    right: 0;
}
#aparteman:checked + label:before {
    right: 0;
    z-index: 10;
}

#vilayi:checked + label:after {
    background: #E16428;
}
#vilayi + label:before {
    right: 0;
}
#vilayi:checked + label:before {
    right: 0;
    z-index: 10;
}

#doblex2:checked + label:after {
    background: #E16428;
}
#doblex2 + label:before {
    right: 0;
}
#doblex2:checked + label:before {
    right: 0;
    z-index: 10;
}
#nimPlot2:checked + label:after {
    background: #E16428;
}
#nimPlot2 + label:before {
    right: 0;
}
#nimPlot2:checked + label:before {
    right: 0;
    z-index: 10;
}
