
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'iranYekan';
        src: url('font/Yekan\ Bakh\ EN\ 05\ Medium.woff') format('woff');
    }
}

@font-face {
    font-family: 'medium';
    src: url('./font/Yekan\ Bakh\ EN\ 05\ Medium.woff') format('woff');
}

body {
    font-family: "medium", inherit;
}

.btn {
    @apply bg-primaryOrange text-white flex justify-center items-center h-10 rounded-xl
}

.swiper-paginationPersons .swiper-pagination-bullet-active {
    width: 25px;
}


.swiper-paginationPersons span { 
    background-color: #7d7878;
    border-radius: 0.5rem;
    transition: 0.3s;
}